{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="notification is-danger">
		{{ messages[0] }}
	</div>
	{% endif %}
	{% endwith %}

	<h3 class="title">Login</h3>
	<div class="box">

		<form method="POST" action="/login">
			{{ form.csrf_token }}
			<div class="field">
				<div class="control">
					{{ form.username() }}
					{% if form.username.errors %}
					{% for error in form.username.errors %}
					{{ error }}
					{% endfor %}
					{% endif %}
					<!-- <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus=""> -->
				</div>
			</div>

			<div class="field">
				<div class="control">
					<!-- <input class="input is-large" type="password" name="password" placeholder="Your Password"> -->
					{{ form.password() }}
					{% if form.password.errors %}
					{% for error in form.password.errors %}
					{{ error }}
					{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="field">
				<!-- <label class="checkbox">
					<input type="checkbox">
					Remember me
				</label> -->
				{{ form.remember.label() }}
				{{ form.remember() }}

			</div>
			<!-- <button class="button is-block is-info is-large is-fullwidth">Login</button> -->
			{{ form.submit() }}
		</form>
	</div>
</div>

{% endblock %}